<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionsImpl" class="QuestionParserServiceImpl">
        <property name="resourcePath" value="classpath:/questionParserService.csv"/>
    </bean>
    <bean id="examImpl" class="ru.otus.spring.dao.ExamImpl">
        <constructor-arg name="questionParserService" ref="questionsImpl"/>
    </bean>
    <bean id="testingService" class="ru.otus.spring.service.TestingServiceImp">
        <constructor-arg name="exam" ref="examImpl"/>
        <constructor-arg type="java.lang.String" value="Hello ! What is your name ?"/>
    </bean>
</beans>
